.contact
{
    letter-spacing: 0px;
    font-size: 20px;
    font-weight: bold;
   color: #8c6c44;
   padding: 10px 0px 40px 0px;
}
.my-title
{
    color: #8c6c44;
    font-weight: bold;
    font-size: 18px;
}
.form-controls
{
    outline:none;
    -webkit-box-shadow:none!important;
    box-shadow:none!important;
   
    background-color: white!important;
    border: 1px solid rgb(198, 40, 40);
    border-radius:4px;
    width: 100%;
}
.my-btn {
    background-color: #8c6c44;
    color: #fff;
    border: 1px solid #8c6c44;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
 }

.my-btn:hover
{
background-color: white;
color: #8c6c44;
border: 1px solid #8c6c44;
}
.list-space
{
  padding: 0px 0px  0px  5px !important;

}

.breadcrumb-help{
    margin-bottom: 15px;
    border: 1px solid #8c6b4400;
    box-sizing: border-box;
    box-shadow: 0px 3px 3px 0px #d0d0d0;
    background-color: #8c6b44;
    float: right;
    height: 34px;
    padding-top: 5px;
    margin-top: -87px;
    border-radius: 12px;
    color: white;
}