.about-1
{
    padding: 5px;
    margin: 30px;
}
.about-1 h1{
    text-align: center;
    color: black;
    font-weight: bold;

}
.about-1 p{
    text-align: center;
    padding: 3px;
}
.about-1 h1{
    letter-spacing: 0px;
    text-transform: capitalize;
}
.about-item{
   margin-bottom: 20px;
   margin-top: 20px;
   padding: 80px,30px;
   box-shadow: 0 0 9px rgba(0, 0,0, .6);
}
.about-item i{
    font-size: 30px;
    margin: 0%;
}
.about-item h3{
  font-size: 25px;
  margin-bottom: 10px;
}
.about-item hr{
    width: 46px;
    height: 3px;
    background-color: #5fbff9;
    border: none;
    margin: 0% auto;
}
.about-item p{
    margin-top: 20px;
}
.about-item :hover{
    background-color:#5fbff9;
}
.about-item i:hover ,.about-item p:hover ,.about-item h3 :hover 
{
    color: white;
}