

  .site-footer
   {
     padding: 5em 0;
     background-color:#bc5148;
     font-size: 14px;
     color:rgba(243, 236, 236);
   }
   .site-footer p:last-child
    {
     margin-bottom: 0;
    }
   .site-footer a
    {
    color: #fffbf1;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    } 
    .site-footer a:hover
    {
       color:white;
       border-bottom: 1px solid rgba(255,255,255, 0.2);
    }
    .site-footer h2{
        font-size: 18px;
        margin-bottom: 28px;
        letter-spacing: .05em;
        color: white;
    }
    .site-footer ul  li
    {
        line-height: 1.5 ;
        margin-bottom: 15px;

    }
    .site-footer .social a
    {
       
        line-height: 2;
        border-radius: 50%;
        margin: 0 5px 5px 0;
        border: 1px solid rgba(255, 255, 255, 0.1);
        width: 30px;
        height: 30px;
        text-align: center;
        background-color: #fff;
        color: black;
        display: inline-block;
        text-decoration: none;
    }
    .site-footer .social a:hover
    {
      background-color: #bc5148;
      border-color: white;
      color: black;
    }

    .section-footer
    {
     
     background-color: #443017;
     margin-bottom: -10px;
     padding-bottom: 50px;
     padding-top: 50px;
     color: white;
    }
   

    .section-footer .payment  img
     {
        margin:  5px 5px ;
        padding: 1px 3px ;
        border: 1px solid rgba(255, 255, 255, 0.1);
     }